* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Prevents horizontal scroll */
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #222831;
    color: #FEEFEE;
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    background-image: -o-linear-gradient(#222831, #222831 50px, #121212 100px);
    background-image: linear-gradient(#222831, #222831 50px, #121212 100px);
    /* Adjust colors and heights */
    overflow-x: hidden;
    /* Prevents horizontal scroll */
}
main {min-height: 2400px;}
nav {
    /* This ensures the navbar sticks to the top of the viewport */
    position: sticky;
    top: 0;
    z-index: 1000;
}


footer {
    position: relative;
    /* This is important */
    margin-top: 50px;
    margin-bottom: 125px;
    padding-top: 100px;
    max-height: 600px;
}


code {
    -webkit-user-select: all;
    -moz-user-select: all;
    user-select: all;
}

span {
    -webkit-user-select: all;
    -moz-user-select: all;
    user-select: all;
}

small {
    -webkit-user-select: all;
    -moz-user-select: all;
    user-select: all;
}

nav ul {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #FEEFEE;
    text-decoration: none;
}

section {
    padding-top: 120px;
    padding-left: 40px;
    padding-right: 40px;
    max-height: 600px;
}



.teal {
    color: #00ADB5;
}

.unclickable {
    pointer-events: none;
}

.pad-right {
    padding-right: 25px;
}

.pad-top-25 {
    padding-top: 25px;
}

.pad-top-10 {
    padding-top: 10px;
}

.centered {
    /* Centers horizontally */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* Centers vertically */
    text-align: center;
}

.btn {
    background-color: #EEEFEE;
    color: #FEEFEE;
    text-decoration: none;
    padding: 7px 3px;
    border: 2px solid transparent;
}

.btn:hover {
    border: 2px solid #00ADB5;
}

.to-top-btn {
    position: fixed;
    bottom: 5%;
    right: 5%;
    border-radius: 5px;
    background-color: transparent;
    color: #9C27B0;
    z-index: 1000;
}

.icon {
    /* Adjust size as needed */
    padding: 10px;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    /* Smooth transition for hover effect */
}

.contact-text a {
    text-decoration: none;
    /* Or 'none' if you prefer a cleaner look */
    font-weight: bold;
    color: #00ADB5;
}

.contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* Vertically center content */
    place-items: center;
    /* Distribute space evenly */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.payment-address {
    padding-top: 1px;
}


@media (max-width: 992px) {
    .payment-address {
        white-space: nowrap;
        /* Prevents the text from wrapping to a new line */
        overflow: hidden;
        /* Hides the overflow text */
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        /* Adds an ellipsis to indicate truncated text */
        display: block;
        /* Optional: Depending on your layout, you might need to set this to block */
        width: 100%;
        /* Set a specific width as per your layout requirements */
        max-width: 992px;
    }
}

#email {
    color: #ffffff;
}