.nav-bar {
    background-color: #2E3440;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid transparent;
    /* Adjust thickness as needed */
    background-image: -webkit-gradient(linear, left top, right top, from(#2E3440), to(#222831)), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(transparent));
    background-image: -o-linear-gradient(left, #2E3440, #222831), -o-linear-gradient(top, rgba(0, 0, 0, 0.1), transparent);
    background-image: linear-gradient(to right, #2E3440, #222831), linear-gradient(to bottom, rgba(0, 0, 0, 0.1), transparent);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 85px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

.nav-bar ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5px;
    padding: 5px;
}

.nav-bar li {
    margin: 0 15px;
}

.nav-bar a {
    color: #ececec;
    text-decoration: none;
}

.nav-left {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.nav-right {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@media (max-width: 767px) {
    .nav-bar ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        /* Stack links vertically */
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        /* Align items in the center */
        width: 100%;
        /* Full width */
        padding: 0;
        /* Reset padding */
    }

    .nav-bar li a {
        font-size: 0.9rem;
        /* Adjust the font size as needed */
    }

    .nav-bar li {
        margin: 0 5px;
        /* Reduce margin */
    }

    .nav-bar li a {
        padding: 0px 0px;
        /* Reduce padding */
    }
}